<head>
    <!-- CSS -->
    <link href="~/css/home.css" rel="stylesheet">
</head>
<div class="portrait-image pt-5">
    <div class="mt-5 ml-6 portrait-text">
        <h1 class="fw-bolder row">FROM RURAL TO URBAN</h1>
        <div class="row mt-3">
            <button type="button" class="btn btn-light col me-3">MEN</button>
            <button type="button" class="btn btn-light col me-3">WOMEN</button>
            <button type="button" class="btn btn-light col">PACKS</button>

        </div>
    </div>
</div>