nav {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    height: 4rem;
    background-color: white;
}

.letter-spacing {
    letter-spacing: 0.2rem !important;
}

.nav-icon {
    color: #6a6a6a !important;
}

.brand-font {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
}

.letter-spacing::after {
    content: "";
    display: block;
    height: 2px;
    left: 30%;
    position: relative;
    background: #373737;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
}

.letter-spacing:hover:after {
    width: 30%;
    left: 30%;
}

footer {
    background-color: #f7f7f7;
}

li{
    list-style: none;
}

.w-30{
    width: 30%;
}