nav {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    height: 4rem;
    background-color: white;
}

.letter-spacing {
    letter-spacing: 0.2rem !important;
}

.nav-icon {
    color: #6a6a6a !important;
}

.brand-font {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
}

