<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5">
                <div id="login">
                    <h4 class="text-center">Welcome</h4>
                    <h2 class="text-center">DO YOU HAVE AN ACCOUNT?</h2>
                    <form method="post" class="w-75 mx-auto mt-3" id="loginForm">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">EMAIL ADDRESS *</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                                   placeholder="Email Address *">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">PASSWORD *</label>
                            <input type="password" class="form-control" id="inputPassword"
                                   placeholder="Password *">
                        </div>
                        <a class="text-dark" href="#" id="forgotPasswordLink">Forgot your password?</a>
                        <button type="submit" class="btn btn-outline-dark w-100 mb-3 mt-3">LOGIN</button>
                        <div class="w-100 text-center">
                            <a class="text-dark" href="#">New customer? Sign up </a>
                        </div>
                    </form>
                </div>
                <div id="forgotPassword">
                    <h5 class="text-center">Enter your email to change your password.</h5>
                    <form method="post" class="w-75 mx-auto mt-3" id="forgotForm">
                        <div class="mb-3">
                            <label for="inputEmailForgot" class="form-label">EMAIL ADDRESS *</label>
                            <input type="email" class="form-control" id="inputEmailForgot" aria-describedby="emailHelp"
                                   placeholder="Email Address *">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-outline-dark w-100 mb-3 mt-3">RESET PASSWORD</button>
                        <div class="w-100 text-center">
                            <a class="text-dark" href="#" id="ReturnLoginLink">Return to Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>