
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="mt-5 pt-10 pb-10" id="loginBackground">
    <div class="card mx-auto w-50">
        <div class="card-body">
            <div id="forgotPassword">
                <h5 class="text-center">Enter your email to change your password.</h5>
                <form method="post" class="w-75 mx-auto mt-3" id="forgotForm">
                    <div class="mb-3">
                        <label for="inputEmailForgot" class="form-label">EMAIL ADDRESS *</label>
                        <input type="email" class="form-control" id="inputEmailForgot" aria-describedby="emailHelp"
                               placeholder="Email Address *">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark w-100 mb-3 mt-3">RESET PASSWORD</button>
                    <div class="w-100 text-center">
                        <a class="text-dark ReturnLoginLink" asp-action="Login" asp-controller="User">Return to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

