
@{
    ViewData["Title"] = "SignUp";
}
<div class="mt-5 pt-6 pb-10" id="loginBackground">
    <div class="card mx-auto w-50">
        <div class="card-body p-5">
            <div id="signUp">
                <h2 class="text-center">New customer? Sign up</h2>
                <form method="post" class="w-75 mx-auto mt-3" id="signUp">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">EMAIL ADDRESS *</label>
                        <input type="email" class="form-control" id="inputEmailSignUp" aria-describedby="emailHelp"
                               placeholder="Email Address *" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="nameSignUp" class="form-label">NAME AND SURNAME *</label>
                        <input type="text" class="form-control" id="nameSignUp" name="name"
                               placeholder="Name and Surname *">
                    </div>
                    <div class="mb-3">
                        <label for="inputPasswordSignUp" class="form-label">PASSWORD *</label>
                        <input type="password" class="form-control" id="inputPasswordSignUp" name="password"
                               placeholder="Enter new password *">
                    </div>
                    <div class="mb-3">
                        <label for="inputPasswordSignUpRepeat" class="form-label">PASSWORD *</label>
                        <input type="password" class="form-control" id="inputPasswordSignUpRepeat" name="repeatPassword"
                               placeholder="Repeat password *">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="termsCheck" name="serviceTerms" value="false">
                        <label class="form-check-label" for="flexCheckDefault">
                            I accept terms of service *
                        </label>
                    </div>
                    <button type="submit" class="btn btn-outline-dark w-100 mb-3 mt-3">SIGN UP</button>
                    <div class="w-100 text-center">
                        <a class="text-dark ReturnLoginLink" asp-action="Login" asp-controller="User">Return to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

