<html>
<body>
    <div style="background-color:#f7f6f6; color:black !important; width: 1000px; font-family:'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;">
        <div style="width: 50%; margin-left:auto; margin-right:auto">
            <img src="https://www.modaes.es/files/000_2016/jimmy%20lion/jimmy%20lion%20728.jpg"
                 style="width:100%; height:auto; margin-left:auto; margin-right:auto;">
            <div style="background-color:white; width: auto; margin-top:-25px !important; padding:0; text-align:center; ">
                <h2 style="padding-top:20px; font-weight:500; letter-spacing: 3.4px;">THANKS FOR SUSCRIBE TO OUR NEWSLETTER</h2>
                <h4 style="font-weight: 400;font-size: 1rem; margin:0;">Hi, we're so pleased you've joined us.</h4>
                <h6 style="margin-top: 10px; margin-bottom: .8rem;font-weight: 300; font-size:0.8rem;">
                    We can't wait to show you what we have in store for you. Enjoy!
                </h6>
                <h4 style="font-weight:500;
                    text-transform:uppercase; margin-top:0; font-size:20px;
                    letter-spacing:2px; margin:0; margin-bottom: .5rem; margin-top:50px">
                    Need help?
                </h4>
                <h6 style="margin-top: 10px; font-weight: 300;  font-size:1rem;">Contact us at <span style="font-weight:bold">hello@prettySocks.com</span></h6>
                <div style="background-color: #373737; padding-top:1px; padding-bottom: 1px;">
                    <h6 style="color:white; font-weight:300; font-size:0.8rem;">Pretty Socks © 2021</h6>
                </div>
            </div>
        </div>
    </div>
</body>
</html>