<head>
    <!-- CSS -->
    <link href="~/css/CategorySection.css" rel="stylesheet" />
</head>
<section id="category" class="container-lg mt-5">
    <div id="category_header">
        <div class="category_header_text">
            <h1>MEN'S SOCKS</h1>
            <h5 class="w-50">
                The touch of color and fun your look needed.
                Trendy and premium quality socks for men.
            </h5>
        </div>
    </div>
    <div id="subcategories" class="mt-2 mb-5 row mx-auto">
        <div class="col bg-light-grey me-2 subcategory">
            <div class="row mb-2">
                <div class="col-8">
                    <h6>KNEE-HIGH</h6>
                    <a href="#">See Products</a>
                </div>
                <img src="~/icons/knee-high.svg" class="img-fluid col-3" />
            </div>
        </div>
        <div class="col bg-light-grey me-2 subcategory">
            <div class="row mb-2">
                <div class="col-8">
                    <h6>MID-CALF</h6>
                    <a href="#">See Products</a>
                </div>
                <img src="~/icons/mid-calf.svg" class="img-fluid col-3" />
            </div>
        </div>
        <div class="col bg-light-grey me-2 subcategory">
            <div class="row mb-2">
                <div class="col-8">
                    <h6>ANKLE</h6>
                    <a href="#">See Products</a>
                </div>
                <img src="~/icons/Ankle.svg" class="img-fluid col-3" />
            </div>
        </div>
        <div class="col bg-light-grey subcategory">
            <div class="row mb-2">
                <div class="col-8">
                    <h6>NO-SHOW</h6>
                    <a href="#">See Products</a>
                </div>
                <img src="~/icons/no-show.svg" class="img-fluid col-3" />
            </div>
        </div>
    </div>
    <div id="products_section" class="row">
        <div id="filter_section" class="col-4 ">
            <ul>
                <li>
                    <a data-bs-toggle="collapse" role="button"
                       href="#collapse_style" aria-expanded="false" aria-controls="collapse_style">
                        <span>STYLE</span><i class='bx bx-plus'></i>
                    </a>
                </li>
                <div class="collapse" id="collapse_style">
                    Style
                </div>
                <li>
                    <a data-bs-toggle="collapse" role="button"
                       href="#collapse_pattern" aria-expanded="false" aria-controls="collapse_pattern">
                        <span>PATTERN</span><i class='bx bx-plus'></i>
                    </a>
                </li>
                <div class="collapse" id="collapse_pattern">
                    Pattern
                </div>
                <li>
                    <a data-bs-toggle="collapse" role="button"
                       href="#collapse_color" aria-expanded="false" aria-controls="collapse_color">
                        <span>COLOR</span><i class='bx bx-plus'></i>
                    </a>
                </li>
                <div class="collapse" id="collapse_color">
                    Color
                </div>
            </ul>
        </div>
        <div id="product_list_section" class="col-8">

        </div>
    </div>
</section>