
<div id="modal_aside_right" class="modal fixed-left fade p-0" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100">Your Cart</h5>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group">
                    <li class="list-group-item py-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="~/images/Products/Product_1.jpg"
                                     class="img-fluid mx-auto d-block w-75"
                                     alt="img" />
                            </div>
                            <div class="col-8">
                                <p class="p-0 m-0" style="font-weight: 600; font-size: 1.2rem">Product 1</p>
                                <h5 class="text-muted" style="font-weight: 600; font-size: 1.2rem">$ 10.0</h5>
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <select class="form-select form-select-sm">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <a href="#" class="col-8 text-end text-muted"><i class='bx bx-x bx-lg'></i><span>Remove</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="~/images/Products/Product_13.jpg"
                                     class="img-fluid mx-auto d-block w-75"
                                     alt="img" />
                            </div>
                            <div class="col-8">
                                <p class="p-0 m-0" style="font-weight: 600; font-size: 1.2rem">Product 13</p>
                                <h5 class="text-muted" style="font-weight: 600; font-size: 1.2rem">$ 10.0</h5>
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <select class="form-select form-select-sm">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <a href="#" class="col-8 text-end text-muted"><i class='bx bx-x bx-lg'></i><span>Remove</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer" id="cartPriceSection">
                <div class="row w-100 fw-bold mb-4">
                    <span class="col-6">Subtotal</span>
                    <span class="col-6 text-end">$21.0</span>
                </div>
                <div class="row w-100">
                    <button type="button" class="btn btn-outline-dark col w-100 me-3 fw-bold">Continue to Checkout</button>
                    <button type="button" class="btn btn-dark col w-100">View Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
