<div class="card card-lg mb-3 border w-80 mx-auto">
    <div class="card-body pb-0 p-4">
        <!--ORDER INFO-->
        <div class="card card-sm border-0">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <h6 class="text-muted">Order No:</h6>
                        <p class="mb-lg-0 font-size-sm fw-semibold">673290789</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6 class="text-muted">Shipped date:</h6>
                        <p class="mb-lg-0 font-size-sm fw-semibold">01 Oct, 2019</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6 class="text-muted">Status:</h6>
                        <p class="mb-lg-0 font-size-sm fw-semibold">Awating Delivery</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <h6 class="text-muted">Order Amount:</h6>
                        <p class="mb-lg-0 font-size-sm fw-semibold">$259.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white border-top-0 mt-3 px-4">
        <h5 class="mb-3 fw-semibold">Order Items (3)</h5>
        <ul class="list-group mb-3">
            <li class="list-group-item border-start-0 border-end-0">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/Products/Product_1.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h6 class="fw-semibold">Product name</h6>
                        <h6 class="text-muted mb-3 fw-semibold">$12.00</h6>
                        <p class="text-muted mb-0 fw-500">Size: 4-7</p>
                        <p class="text-muted mb-0 fw-500">Style: Mid Calf</p>
                        <p class="text-muted mb-0 fw-500">Color: Black</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-start-0 border-end-0">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/Products/Product_12.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h6 class="fw-semibold">Product name</h6>
                        <h6 class="text-muted mb-3 fw-semibold">$12.00</h6>
                        <p class="text-muted mb-0 fw-500">Size: 4-7</p>
                        <p class="text-muted mb-0 fw-500">Style: Mid Calf</p>
                        <p class="text-muted mb-0 fw-500">Color: Black</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-start-0 border-end-0 border-bottom-0">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/Products/Product_8.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h6 class="fw-semibold">Product name</h6>
                        <h6 class="text-muted mb-3 fw-semibold">$12.00</h6>
                        <p class="text-muted mb-0 fw-500">Size: 4-7</p>
                        <p class="text-muted mb-0 fw-500">Style: Mid Calf</p>
                        <p class="text-muted mb-0 fw-500">Color: Black</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--Total order price-->
<div class="card card-lg mb-3 border w-80 mx-auto">
    <div class="card-body p-4">
        <h5 class="mb-3 fw-semibold">Order Total</h5>
        <ul class="list-group">
            <li class="list-group-item border-end-0 border-start-0 fw-500">
                <div class="row">
                    <span class="col-md-6">Subtotal</span>
                    <span class="col-md-6 text-end">$36.00</span>
                </div>
            </li>
            <li class="list-group-item border-end-0 border-start-0 fw-500">
                <div class="row">
                    <span class="col-md-6">Task</span>
                    <span class="col-md-6 text-end">$0.00</span>
                </div>
            </li>
            <li class="list-group-item border-end-0 border-start-0 fw-500">
                <div class="row">
                    <span class="col-md-6">Shipping</span>
                    <span class="col-md-6 text-end">$8.00</span>
                </div>
            </li>
            <li class="list-group-item border-end-0 border-start-0 fw-bolder border-bottom-0">
                <div class="row">
                    <span class="col-md-6">Total</span>
                    <span class="col-md-6 text-end">$44.00</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--Shipping details-->
<div class="card card-lg mb-3 border w-80 mx-auto">
    <div class="card-body p-4">
        <h5 class="mb-3 fw-semibold">Billing & Shipping Details</h5>
        <div class="row fs-09">
            <div class="col-md-4">
                <p class="text-muted">Billing Address: </p>
                <p class="mb-lg-0 font-size-sm fw-semibold">
                    Daniel Robinson,
                    3997 Raccoon Run,
                    Kingston, 45644,
                    United States,
                    6146389574
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Shipping Address:</p>
                <p class="mb-lg-0 font-size-sm fw-semibold">
                    Daniel Robinson,
                    3997 Raccoon Run,
                    Kingston, 45644,
                    United States,
                    6146389574
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Shipping Method: </p>
                <p class="font-size-sm fw-semibold">
                    Standart Shipping
                    (5 - 7 days)
                </p>
                <p class="text-muted">Payment Method:</p>
                <p class="mb-lg-0 font-size-sm fw-semibold">
                    Debit Mastercard
                </p>
            </div>
        </div>
    </div>
</div>
