<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-8 ps-3">
                        Shipping Address
                    </h5>
                    <div class="col-3">
                        <div class="row">
                            <button class="btn btn-xs btn-circle btn-white-secondary ms-auto col-3">
                                <i class="bx bxs-pencil"></i>
                            </button>
                            <button class="btn btn-xs btn-circle btn-white-primary ms-auto col-3">
                                <i class="bx bx-x bx-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="w-50 text-left text-muted ps-1">
                    Daniel Robinson
                    3997 Raccoon Run
                    Kingston
                    45644
                    United States
                </p>
                <p class="text-muted ps-1">
                    6146389574
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-8 ps-3">
                        Billing Address
                    </h5>
                    <div class="col-3">
                        <div class="row">
                            <button class="btn btn-xs btn-circle btn-white-secondary ms-auto col-3">
                                <i class="bx bxs-pencil"></i>
                            </button>
                            <button class="btn btn-xs btn-circle btn-white-primary ms-auto col-3">
                                <i class="bx bx-x bx-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="w-50 text-left text-muted ps-1">
                    Daniel Robinson
                    3997 Raccoon Run
                    Kingston
                    45644
                    United States
                </p>
                <p class="text-muted ps-1">
                    6146389574
                </p>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-outline-dark w-100 mt-3 border border-secondary">
    Add Address 
    <i class='bx bx-plus'></i>
</a>