<div class="card card-lg mb-3 border w-80 mx-auto">
    <div class="card-body p-4">
        <h6>Are you sure you want to Log Out?</h6>
        <a class="btn btn-outline-dark w-100 fw-semibold" id="logoutBtn" asp-action="LogOut"
           asp-controller="Identity" asp-route-logout="true">LOG OUT</a>
    </div>
</div>