<div class="container mt-5 pt-5 mb-5 f-raleway">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home" style="color:#6c757d">Home</a>
                </li>
                <li class="breadcrumb-item" style="color:#6c757d">My Account</li>
            </ol>
        </nav>
        <h2 class="mb-5 text-center">My Account</h2>
    </div>
    <div class="row" id="accountCategory">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item border-start-0 border-end-0">
                    <a id="AccountOrdersLink" class="text-muted pointer">
                        <div class="w-100 row">
                            <span class="col-10">Orders</span>
                            <i class='bx bx-chevron-right bx-sm col-2 text-end'></i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item border-start-0 border-end-0">
                    <a id="AccountWishlistLink" class="text-muted pointer">
                        <div class="w-100 row">
                            <span class="col-10">WishList</span>
                            <i class='bx bx-chevron-right bx-sm col-2 text-end'></i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item border-start-0 border-end-0">
                    <a id="userPersonalInfo" class="text-muted pointer">
                        <div class="w-100 row">
                            <span class="col-10">Personal Info</span>
                            <i class='bx bx-chevron-right bx-sm col-2 text-end'></i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item border-start-0 border-end-0">
                    <a id="userAddresses" class="text-muted pointer">
                        <div class="w-100 row">
                            <span class="col-10">Addresses</span>
                            <i class='bx bx-chevron-right bx-sm col-2 text-end'></i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item border-start-0 border-end-0">
                    <a id="logout" class="text-muted pointer">
                        <div class="w-100 row">
                            <span class="col-10">Logout</span>
                            <i class='bx bx-chevron-right bx-sm col-2 text-end'></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8" id="accountCategoryViews"></div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
        $("#accountCategoryViews").load("/Identity/GetOrdersPartial");

        $(".list-group-item a").click(function () {
            $(".list-group-item a").addClass("text-muted");
            $(".list-group-item a").removeClass("fw-bold");

            $(this).removeClass("text-muted");
            $(this).addClass("fw-bold");

            if ($(this).attr("id") == 'AccountOrdersLink') {
                $("#accountCategoryViews").load("/Identity/GetOrderDetailsPartial");
            } else if ($(this).attr("id") == 'AccountWishlistLink') {
                $("#accountCategoryViews").load("/Identity/GetWishlistPartial");
            } else if ($(this).attr("id") == 'logout') {
                $("#accountCategoryViews").load("/Identity/LogOut");
            } else if ($(this).attr("id") == 'userPersonalInfo') {
                $("#accountCategoryViews").load("/Identity/UserPersonalInfo");
            } else if ($(this).attr("id") == 'userAddresses') {
                $("#accountCategoryViews").load("/Identity/UserAddresses");
            }
        })
</script>
}
